<div class="cf-container">
    <div>
        <p id="cf-account" ><b>Account Type: </b><i><span id="cf-account_type"><%= account_type %></span></i></p>
    </div>
    <%- include('../index.html')%>
</div>